* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Cabin", sans-serif !important;
    padding: 0 !important;
}

:root {
    --black: #000000;
    --space: #333333;
    --scarlet: #595960;
    --forever: #707079;
    --shades: #9f9f9f;
    --vintage: #999999;
    --halloween: #DFA974;
    --disabledHallowen: #e0c5a8;
    --summer: #edba87;
    --sky: #f8f7f7;
    --white: #FFFFFF;
}

a {
    color: var(--white);
    text-decoration: none !important;
}

.custom-btn {
    background-color: var(--halloween) !important;
    font-size: 1.5rem;
    color: var(--white) !important;
    transition: all .4s;
}

.custom-btn:hover {
    background-color: var(--summer) !important;
}

.button-outline {
    background-color: transparent;
    color: var(--white);
    display: inline-block;
    padding: .7rem .2rem;
    border: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    border-bottom: 3px solid var(--halloween);
    font-weight: 600;
}

.overlay {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: auto;
}

.section-padding {
    padding: 6rem 3rem;
}

.light-background {
    background-color: var(--sky);
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title span {
    text-transform: uppercase;
    color: var(--halloween);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    letter-spacing: .2rem;
}

.section-title h2 {
    font-size: 3.8rem;
    font-family: 'Libre Baskerville', serif;
    letter-spacing: .1rem;
    text-align: center;
    line-height: 6rem;
}


/* Navbar */
.mainNavbar {
    height: 77px;
    margin-top: 10px;
    background-color: transparent !important;
}

.navbar:not(.scroll-navbar){
    z-index: 2;
}

.navbar.scroll-navbar{
    z-index: 3;
}

.scroll-navbar {
    height: 100px;
    position: fixed !important;
    top: -214px;
    width: 100%;
    transition: 0.6s;
    background-color: var(--bs-dark) !important;
}

.open {
    top: 0 !important;
    margin-top: 0;
}

.navigation {
    position: absolute;
    width: 100%;
    z-index: 10;
    padding-top: 15px;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.nav-contact {
    color: var(--white);
    z-index: 4;
    position: relative;
    font-family: "Montserrat", sans-serif;
}

.nav-phone,
.nav-mail {
    font-size: 1.3rem;
}

.phone-number,
.mail-address {
    margin-left: 5px;
}

.nav-contact a {
    color: var(--white);
    font-size: 1.5rem;
    padding: .1rem 1.8rem;
    display: inline-block;
}

.nav-contact a:first-child {
    border-radius: 0;
    border-right: 2px solid var(--white);
}

.nav-contact a:hover {
    color: var(--);
}

.navbar .logo {
    margin-top: -15px;
    margin-left: -54px;
}

.inclusive {
    position: absolute;
    z-index: 3;
    cursor: auto;
    border-style: solid;
    border-color: transparent;
}

.inclusive-left {
    top: 0;
    left: 0;
    border-left-width: 51px;
    height: 260px;
}

.inclusive-right {
    top: 0;
    right: 0;
    border-right-width: 59px;
    height: 260px;
}

.inclusive-top {
    top: 0;
    left: 0;
    border-top-width: 100px;
    width: 260px;
}

.inclusive-bottom {
    bottom: 0;
    left: 0;
    border-bottom-width: 90px;
    width: 260px;
}

.navbar-toggler {
    border: none !important;
}

.offcanvas {
    width: 350px !important;
    transition: .4s !important;
}

.navbar-toggler:focus {
    box-shadow: var(--white) !important;
}

.navbar-toggler .bi-list {
    font-size: 3.2rem;
    color: var(--white);
}

.navbar-nav .nav-link {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 1.9rem;
    transition: all .4s;
    border-bottom: 3px solid transparent;
}

.navbar-nav .nav-item {
    padding: 2rem .6rem;
}

.scroll-navbar .navbar-nav .nav-item {
    padding: 3.1rem .6rem;
}

.navbar-nav .nav-item:first-child .nav-link {
    border-bottom: 3px solid var(--halloween);
}

.navbar-nav .nav-item:hover .nav-link {
    border-bottom: 3px solid var(--halloween);
}

.navbar-nav .nav-item:last-child .nav-link {
    border-bottom: 3px solid transparent !important;
}

.nav-login,
.nav-signup {
    display: none !important;
}

.navbar-nav .bi-search {
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none !important;
}

.scroll-navbar .dropdown-menu[data-bs-popper] {
    top: 99px !important;
}

.dropdown-menu {
    position: absolute;
    display: none !important;
    top: 76.4px;
    left: 0;
    font-size: initial !important;
    font-family: "Cabin", sans-serif;
    color: var(--night);
    list-style: none;
    padding: 1rem .5rem !important;
    background-color: var(--white);
    border: none !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
}

.scroll-navbar .dropdown-menu {
    top: 99px;
}

.dropdown-item {
    display: block;
    padding: 1rem 1.5rem !important;
    font-weight: 400;
    color: var(--night);
    text-align: inherit;
    transition: all .4s;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--halloween) !important;
    background-color: transparent !important;
}

.search-model {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--black);
    z-index: 1046;
}

.search-close-switch {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 2.7rem;
    line-height: 2.7rem;
    top: 5rem;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.search-model #search-input {
    width: 50rem;
    height: 5.8rem;
    padding-bottom: .3rem;
    padding-left: .2rem;
    font-size: 3.7rem;
    background-color: transparent;
    border: none;
    color: var(--shades);
    border-bottom: 2px solid var(--shades);
}

.search-model #search-input::placeholder {
    color: var(--shades);
}

.search-model #search-input:focus-visible {
    outline: none;
}


/* Header */
.carousel::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0, 0, 0, .6);
}

.opening {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 725px;
    z-index: 7;
    color: var(--white);
    transform: translate(-50%, -40%);
}

.opening-title {
    font-size: 6.7rem;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 2.5rem;
}

.opening-text {
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
    letter-spacing: .1rem;
}


/* Reservation */
.reservation-title {
    font-size: 3.7rem;
    font-weight: 500;
    font-family: 'Libre Baskerville', serif;
}

#reservation .row {
    margin-top: 5rem;
}

#reservation label {
    font-size: 1.7rem;
    color: var(--black);
}

#reservation .form-control {
    width: 330px;
    height: 8rem;
    font-size: 1.5rem;
    border: 2px solid transparent;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
    display: inline-block !important;
    transition: all .4s;
}

#reservation .form-control:hover,
.dateInput:hover #checkIn,
.dateInput:hover #checkOut {
    background-color: #f0f0f0;
}

#reservation .dateInput label,
#guests .button-text {
    position: absolute;
    top: 17px;
    left: 35px;
    color: #6c707a;
    cursor: pointer;
    font-size: 1.5rem;
}

#reservation .checkInDate,
#reservation .checkOutDate,
.guestsandrooms {
    position: absolute;
    bottom: 16px;
    left: 35px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black);
    font-family: 'Noto Sans Display', sans-serif;
}

.guestsandrooms:hover {
    cursor: text;
}

#reservation .form-control:focus {
    border: 2px solid var(--halloween);
}

#reservation .form-control::placeholder {
    font-size: 1.7rem;
    color: var(--space);
}

#reservation .input-button {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3);
    height: 4.5rem;
    padding: 0 1.5rem;
}

#reservation .input-button:active {
    border: 1px solid transparent;
}

#reservation .right-icon,
#reservation .down-icon {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
}

#reservation .right-icon {
    display: block;
}

#reservation .reservation-button {
    font-size: 2rem;
    border: 2px solid var(--halloween);
}

#reservation .reservation-button:active {
    border-color: var(--summer) !important;
}

#reservation .reservation-button:hover {
    background-color: var(--summer);
    border: 2px solid var(--summer);
}

#reservation .row>* {
    padding-left: 0;
    padding-right: 0;
}

.dateInput {
    position: relative;
}

.dateInput .datePicker:hover {
    cursor: pointer;
}

.dateInput i {
    position: absolute;
    height: 8rem;
    width: 5.3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    transition: all .4s;
}

.dateInput i:hover {
    color: var(--white);
    background-color: var(--halloween);
}

.dateInput .date-icon {
    right: 5.3rem;
}

.dateInput .clear-icon {
    right: 0px;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

#guests {
    text-align: left;
    font-size: 1.6rem !important;
}

.guestsform {
    opacity: 0;
    width: 330px;
    display: none;
    transition: opacity .3s;
    position: absolute;
    top: 8.5rem;
    padding: 1.5rem 2rem;
    border-radius: 10px;
    background-color: var(--white);
    box-shadow: 0 10px 30px rgba(41, 51, 57, 0.75);
}

.guestsform.active {
    opacity: 1;
    display: inline-block;
}

.guestsform label {
    color: var(--space) !important;
    margin-right: 5rem;
}

.guestsform .counter-button {
    border: 2px solid var(--halloween);
}

.guestsform .disable-counter-button {
    border: 2px solid var(--disabledHallowen);
    color: var(--forever);
    cursor: auto;
}

.guestsform .disable-counter-button,
.guestsform .counter-button {
    font-size: 2.523rem;
    padding: .2rem .5rem;
    border-radius: 50%;
}

.guestsform input {
    width: 4.3rem;
    height: 4rem;
    text-align: center;
    font-size: 1.8rem;
    margin: 0 10px;
    border: 2px solid rgba(219, 221, 225, 1);
    border-radius: 5px;
    transition: all .4s;
}

.guestsform input:focus {
    border: 2px solid var(--halloween) !important;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2) !important;
}

:not(.btn-check)+.btn:active {
    border-color: transparent !important;
}

.btn:first-child:active {
    border-color: transparent !important;
}

.guestsform input:focus-visible {
    outline: none !important;
}


/* About Us */
.about-text {
    padding: 1.5rem 5rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--scarlet);
    font-weight: 500;
}

#aboutus .button-outline {
    color: var(--black);
}

@media (max-width: 1399.9px) {
    #reservation .form-control {
        width: 286px;
    }
}

@media (max-width: 1199.9px) {
    .guestsform {
        left: initial;
    }
}

@media (max-width: 1199.9px) and (min-width: 992px) {
    #aboutus img {
        width: 200px;
    }
}

@media (min-width: 991.9px) {
    .dropdown:hover .dropdown-menu {
        display: block !important;
        animation: slideDown 0.4s ease-in-out;
    }

    .dropdown-menu[data-bs-popper]{
        margin: 0 !important;
    }

    @keyframes slideDown {
        0% {
            transform: translateY(30px);
            opacity: 0;
        }
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }

    .nav-link:focus, 
    .nav-link:hover,
    .navbar-nav .nav-link.active, 
    .navbar-nav .nav-link.show{
        color: var(--white) !important;
    }

    .dropdown .right-icon,
    .dropdown .down-icon {
        display: none !important;
    }

    .carousel-inner img {
        max-height: 750px;
    }
}

@media (max-width: 991.9px) {
    .nav-contact {
        display: none !important;
    }

    .navbar .container-md {
        margin-top: -110px;
    }

    .scroll-navbar .container-md {
        margin-top: -85px;
    }

    .navbar .logo {
        margin-top: 0px;
    }

    .scroll-navbar .logo {
        margin-top: -7px;
    }

    .nav-item.d-flex {
        border-bottom: 1px solid transparent !important;
    }

    .offcanvas-header {
        justify-content: flex-end !important;
    }

    .offcanvas-header .btn-close {
        font-size: 1.5rem !important;
        display: inline-block;
        padding: 1.8rem 5rem 1.8rem 0 !important;
        box-shadow: none !important;
        opacity: .75;
    }

    .navbar-nav .nav-item {
        flex: 1;
        width: 80%;
        border-bottom: 1px solid #ddd;
        padding: 10px 0 !important;
    }

    .navbar-nav .nav-item:last-child {
        border-bottom: none;
    }

    .navbar-nav .nav-item:last-child {
        order: -1;
        display: flex;
        justify-content: center;
    }

    .navbar-nav .bi-search {
        font-size: 1.8rem !important;
    }

    .navbar-nav .nav-link {
        font-size: 1.4rem;
        font-weight: 500;
        margin: 0rem .8rem;
        transition: all .3s;
        color: var(--black);
        border-bottom: 3px solid transparent !important;
    }

    .navbar-nav .nav-link:hover {
        color: var(--halloween) !important;
    }

    .navbar-nav .nav-item:last-child .nav-link:hover {
        color: var(--night) !important;
    }

    .nav-login, .nav-signup {
        display: inline-block  !important;
    }

    .dropdown-toggle {
        position: relative;
    }

    .dropdown .right-icon,
    .dropdown .down-icon {
        position: absolute;
        top: 50%;
        left: 45px;
        font-size: 1.2rem;
        transform: translateY(-50%);
    }

    .dropdown .right-icon {
        display: block;
    }

    .dropdown .down-icon {
        display: none;
    }

    .dropdown-toggle:hover+.right-icon,
    .dropdown-toggle:hover+.down-icon {
        color: var(--halloween) !important;
    }

    .opening {
        width: 670px;
    }

    .opening-title {
        font-size: 6.2rem;
        margin-bottom: 2.3rem;
    }

    .opening-text {
        font-size: 1.5rem;
        margin-bottom: 2.3rem;
        letter-spacing: 0.05rem;
    }

    .button-outline {
        padding: .5rem .1rem;
        font-size: 1.3rem;
        letter-spacing: .2rem;
    }

    #aboutus img {
        width: 325px;
    }
}

@media (max-width: 767.9px) {
    .mainNavbar {
        padding: 0rem 2rem;
    }

    .navbar .logo {
        margin-left: -45px;
    }

    .search-close-switch {
        width: 4.7rem;
        height: 4.7rem;
        font-size: 2.3rem;
        line-height: 2.3rem;
    }

    .search-model #search-input {
        width: 45rem;
        height: 5.4rem;
        padding-bottom: .3rem;
        padding-left: .2rem;
        font-size: 3.4rem;
    }

    .opening {
        width: 575px;
    }

    .opening-title {
        font-size: 5.3rem;
        margin-bottom: 2rem;
    }

    .opening-text {
        font-size: 1.3rem;
        margin-bottom: 2rem;
        letter-spacing: 0.1rem;
    }

    .button-outline {
        padding: .4rem .1rem;
    }

    #reservation .row {
        margin-top: 1.5rem;
    }

    #reservation .form-control {
        width: 250px;
    }

    #reservation .reservation-button {
        font-size: 1.9rem;
        height: 5.5rem;
    }

    #reservation .right-icon,
    #reservation .down-icon {
        font-size: 1.4rem;
    }

    .reservation-title {
        font-size: 3.5rem;
    }

    #reservation .dateInput label,
    #guests .button-text,
    #reservation .checkInDate,
    #reservation .checkOutDate,
    .guestsandrooms {
        left: 27px;
    }

    #reservation .dateInput label,
    #guests .button-text {
        font-size: 1.3rem;
        top: 19px;
    }

    #reservation .checkInDate,
    #reservation .checkOutDate,
    .guestsandrooms {
        font-size: 1.4rem;
        bottom: 19px;
    }

    .dateInput i {
        width: 3.7rem;
        font-size: 1.3rem;
    }

    .dateInput .date-icon {
        right: 3.7rem;
    }

    .guestsform {
        width: 310px;
    }

    .guestsform .counter-button,
    .guestsform .disable-counter-button {
        font-size: 2.2rem;
    }

    .guestsform input {
        width: 4rem;
        height: 3.7rem;
        font-size: 1.5rem;
        margin: 0 5px;
    }

    .guestsform label {
        margin-right: 4rem;
        font-size: 1.6rem !important;
    }

    .section-title span {
        font-size: 1.4rem;
    }

    .section-title h2 {
        font-size: 3.1rem;
        line-height: 4.5rem;
    }

    .about-text {
        padding: 1rem 3rem;
    }

    #aboutus img {
        width: 230px;
    }
}


@media (max-width: 619.9px) {
    .scroll-navbar .container-md {
        margin-top: -70px !important;
    }

    .scroll-navbar {
        height: 90px;
    }

    .navbar-brand img {
        width: 250px;
        height: 250px;
    }

    .inclusive-left {
        border-left-width: 48px;
        height: 250px;
    }

    .inclusive-right {
        border-right-width: 57px;
        height: 250px;
    }

    .inclusive-top {
        border-top-width: 95px;
        width: 250px;
    }

    .inclusive-bottom {
        border-bottom-width: 86px;
        width: 250px;
    }

    .navbar .container-md {
        margin-top: -110px;
    }

    .navbar .logo {
        margin-left: -38px;
    }

    .scroll-navbar .logo {
        margin-top: -23px;
    }

    .opening {
        width: 486px;
    }

    .opening-title {
        font-size: 4.5rem;
        margin-bottom: 1rem;
    }

    .opening-text {
        letter-spacing: 0.05rem;
    }

    .button-outline {
        padding: .3rem .1rem;
    }
}

@media (max-width: 578px) {
    .offcanvas {
        width: 300px !important;
    }

    .search-close-switch {
        width: 4.5rem;
        height: 4.5rem;
        font-size: 2rem;
        line-height: 2rem;
    }

    .search-model #search-input {
        width: 37rem;
        height: 5rem;
        padding-bottom: .2rem;
        padding-left: .1rem;
        font-size: 3rem;
    }

    .carousel-indicators [data-bs-target] {
        height: 2px !important;
        width: 25px !important;
    }
}

@media (max-width: 575.9px) {
    #aboutus img {
        width: 350px;
    }
}

@media (max-width: 531.9px) {
    .opening {
        width: 410px;
    }

    .opening-title {
        font-size: 3.5rem;
    }

    .button-outline {
        padding: .2rem .1rem;
        font-size: 1rem;
    }

    #reservation .form-control {
        width: 225px;
    }

    #reservation .reservation-button {
        font-size: 1.7rem;
    }

    #reservation .right-icon,
    #reservation .down-icon {
        font-size: 1.3rem;
        right: 20px;
    }

    .reservation-title {
        font-size: 3.2rem;
    }

    #reservation .dateInput label,
    #guests .button-text,
    #reservation .checkInDate,
    #reservation .checkOutDate,
    .guestsandrooms {
        left: 23px;
    }

    #reservation .dateInput label,
    #guests .button-text {
        top: 18px;
        font-size: 1.3rem;
    }

    #reservation .checkInDate,
    #reservation .checkOutDate,
    .guestsandrooms {
        font-size: 1.4rem;
        bottom: 18px;
    }

    .dateInput i {
        width: 3.3rem;
        font-size: 1.1rem;
    }

    .dateInput .date-icon {
        right: 3.3rem;
    }

    .guestsform {
        width: 280px;
    }

    .guestsform .counter-button,
    .guestsform .disable-counter-button {
        font-size: 2rem;
    }

    .guestsform input {
        width: 3.7rem;
        height: 3.3rem;
        font-size: 1.4rem;
        margin: 0 2px;
    }

    .guestsform label {
        margin-right: 3.7rem;
    }
}

@media (min-width: 438px) and (max-width: 532px) {
    .carousel-indicators [data-bs-target] {
        height: 1px !important;
        width: 25px !important;
    }
}

@media (max-width: 437.9px) {
    .mainNavbar {
        padding: 0rem 1rem;
    }

    .scroll-navbar {
        height: 80px;
    }

    .scroll-navbar .container-md {
        margin-top: -58px !important;
    }

    .navbar .container-md {
        margin-top: -100px;
    }

    .navbar .logo {
        margin-left: -32px;
    }

    .navbar-brand img {
        width: 220px;
        height: 220px;
    }

    .inclusive-left {
        border-left-width: 42px;
        height: 220px;
    }

    .inclusive-right {
        border-right-width: 51px;
        height: 220px;
    }

    .inclusive-top {
        border-top-width: 84px;
        width: 220px;
    }

    .inclusive-bottom {
        border-bottom-width: 75px;
        width: 220px;
    }

    .carousel-indicators [data-bs-target] {
        height: 1px !important;
        width: 20px !important;
    }

    .opening {
        width: 310px;
    }

    .opening-title {
        font-size: 2.8rem;
    }

    .opening-text {
        font-size: 1.15rem;
    }

    .button-outline {
        font-size: .9rem;
        letter-spacing: .1rem;
        border-bottom: 2px solid var(--halloween);
    }

    #reservation .form-control {
        width: 215px;
        font-size: 1.4rem;
    }

    #reservation .form-control::placeholder {
        font-size: 1.4rem;
    }

    #reservation .reservation-button {
        font-size: 1.6rem;
        height: 5rem;
    }

    #reservation .right-icon,
    #reservation .down-icon {
        font-size: 1.2rem;
    }

    .reservation-title {
        font-size: 2.8rem;
        text-align: center;
    }

    #reservation .dateInput label,
    #guests .button-text {
        font-size: 1.2rem;
        top: 21px;
    }

    #reservation .checkInDate,
    #reservation .checkOutDate,
    .guestsandrooms {
        font-size: 1.3rem;
        bottom: 21px;
    }

    #guests {
        font-size: 1.4rem !important;
    }

    .dateInput i {
        width: 2.9rem;
        font-size: 1rem;
    }

    .dateInput .date-icon {
        right: 2.9rem;
    }

    .guestsform {
        width: 245px;
        padding: 1.2rem 1.5rem;
    }

    .guestsform button {
        padding: 0.375rem 0.3rem;
    }

    .guestsform .counter-button,
    .guestsform .disable-counter-button {
        font-size: 1.8rem;
    }

    .guestsform input {
        width: 3.1rem;
        height: 2.9rem;
        font-size: 1.2rem;
    }

    .guestsform label {
        margin-right: 2rem;
        font-size: 1.4rem !important;
    }

    .section-title span {
        font-size: 1.2rem;
    }

    .section-title h2 {
        font-size: 2.8rem;
        line-height: 4rem;
        letter-spacing: 0;
    }

    .about-text {
        padding: 1rem 2rem;
    }
}

@media (max-width: 405px) {
    .search-close-switch {
        width: 4.1rem;
        height: 4.1rem;
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .search-model #search-input {
        width: 32rem;
        height: 4rem;
        font-size: 2.5rem;
    }
}

@media (max-width: 378.9px) {
    .offcanvas {
        width: 250px !important;
    }

    .mainNavbar {
        padding: 0rem .7rem;
    }

    .scroll-navbar {
        height: 70px;
    }

    .scroll-navbar .container-md {
        margin-top: -52px !important;
    }

    .navbar .container-md {
        margin-top: -93px;
    }

    .navbar .logo {
        margin-left: -28px;
    }

    .navbar-brand img {
        width: 200px;
        height: 200px;
    }

    .inclusive-left {
        border-left-width: 38px;
        height: 200px;
    }

    .inclusive-right {
        border-right-width: 47px;
        height: 200px;
    }

    .inclusive-top {
        border-top-width: 75px;
        width: 200px;
    }

    .inclusive-bottom {
        border-bottom-width: 68px;
        width: 200px;
    }

    .opening-title {
        font-size: 2.6rem;
    }

    .opening-text {
        font-size: 1rem;
    }

    .button-outline {
        font-size: .8rem;
        font-weight: 700;
    }

    .reservation-title {
        font-size: 2.5rem;
    }

    #reservation .form-control {
        width: 200px;
        height: 7.5rem;
    }

    #reservation .dateInput label,
    #guests .button-text {
        font-size: 1.1rem;
        top: 20px;
    }

    #reservation .checkInDate,
    #reservation .checkOutDate,
    .guestsandrooms {
        font-size: 1.2rem;
        bottom: 20px;
    }

    .dateInput i {
        height: 7.5rem;
    }

    #reservation .reservation-button {
        font-size: 1.5rem;
        height: 4.5rem;
    }

    .section-title span {
        font-size: 1.1rem;
        margin-bottom: 0.9rem;
    }

    .section-title h2 {
        font-size: 2.5rem;
        line-height: 3.8rem;
    }

    #aboutus .button-outline {
        color: var(--black);
        font-size: .9rem;
    }
}