*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Cabin", sans-serif;
}

:root{
    --night: #19191a;
    --space: #333333;
    --black: #000000;
    --vintage: #999999;
    --halloween: #DFA974;
    --shades: #9f9f9f;
    --white: #FFFFFF;
    --red: #e34c26;
    --yellow: #178600;
    --darkolive: #556b2f;
    --lightolive: #718d42;
}

a{
    color: var(--white);    
    text-decoration: none !important;
}

#mainNavbar{
    height: 77px;
}

.navbar-toggler{
    border: none !important;
}

.offcanvas{
    width: 350px !important;
    transition: .4s !important; 
}

.navbar-toggler:focus{
    box-shadow: var(--white) !important;
}

.navbar-toggler .bi-list{
    font-size: 3.2rem;
}

.navbar-nav .nav-link{
    color: var(--night) !important; 
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 1.9rem !important;
    transition: all .4s;
    border-bottom: 3px solid var(--white);
}

.navbar-nav .nav-item{
    padding: 2rem .6rem;
}

.navbar-nav .nav-item:first-child .nav-link{
    border-bottom: 3px solid var(--halloween);
}

.navbar-nav .nav-item:hover .nav-link{
    border-bottom: 3px solid var(--halloween);
}

.navbar-nav .nav-item:last-child .nav-link{
    border-bottom: 3px solid transparent !important;
}

.navbar-nav .bi-search{
    cursor: pointer;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-menu {
    position: absolute;
    display: none;
    top: 77px;
    font-size: initial !important;
    font-family: "Cabin", sans-serif;
    color: var(--night);
    list-style: none;
    padding: 1rem .5rem !important;
    background-color: var(--white);
    border: none !important;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.175);
}

.dropdown-item {
    display: block;
    padding: 1rem 1.5rem !important;
    font-weight: 400;
    color: var(--night);
    text-align: inherit;
    transition: all .4s;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--halloween) !important;
    background-color: transparent !important;
}

.search-model {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--black);
    z-index: 1046;
}

.search-close-switch {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background: #333;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 2.7rem;
    line-height: 2.7rem;
    top: 5rem;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.search-model #search-input{
    width: 50rem;
    height: 5.8rem;
    padding-bottom: .3rem;
    padding-left: .2rem;
    font-size: 3.7rem;
    background-color: transparent;
    border: none;
    color: var(--shades);
    border-bottom: 2px solid var(--shades);
}

.search-model #search-input::placeholder{
    color: var(--shades);
}

.search-model #search-input:focus-visible{
    outline: none;
}


@media (min-width: 991.9px) {
    .dropdown:hover .dropdown-menu {
        display: block !important;
        animation: slideDown 0.4s ease-in-out;
    }

    .dropdown-toggle.show .dropdown-menu{
        display: none !important;
    }

    .dropdown-menu[data-bs-popper]{
        margin: 0 !important;
    }

    @keyframes slideDown {
        0% {
            transform: translateY(30px);
            opacity: 0;
        }
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    
    .dropdown .right-icon,
    .dropdown .down-icon{
        display: none !important;
    }
}

@media (max-width: 991.9px) {
    .offcanvas-header{
        justify-content: flex-end !important;
    }

    .offcanvas-header .btn-close{
        font-size: 1.5rem !important;
        display: inline-block;
        padding: 1.8rem 5rem 1.8rem 0 !important;
        box-shadow: none !important;
        opacity: .75;
    }

    .navbar-nav .nav-item {
        flex: 1;
        width: 80%;
        border-bottom: 1px solid #ddd;
        padding: 10px 0; 
    }

    .navbar-nav .nav-item:last-child{
        border-bottom: none;
    }
    
    .navbar-nav .nav-item:last-child{
        order: -1;
        display: flex;
        justify-content: center;
    }

    .navbar-nav .bi-search{
        font-size: 1.8rem !important;
    }

    .navbar-nav .nav-link{
        font-size: 1.4rem;
        font-weight: 500;
        margin: 0rem .8rem !important;
        transition: all .3s;
        border-bottom: 3px solid transparent !important;
    }

    .navbar-nav .nav-link:hover{
        color: var(--halloween) !important;
    }

    .navbar-nav .nav-item:last-child .nav-link:hover{
        color: var(--night) !important;
    }

    .dropdown-toggle{
        position: relative;
    }

    .dropdown .right-icon,
    .dropdown .down-icon{
        position: absolute; 
        top: 50%;
        left: 45px;
        font-size: 1.2rem;
        transform: translateY(-50%);
    }

    .dropdown .right-icon{
        display: block;
    }

    .dropdown .down-icon{
        display: none;
    }

    .dropdown-toggle:hover + .right-icon,
    .dropdown-toggle:hover + .down-icon{
        color: var(--halloween) !important;
    }
}

@media (max-width: 767px){
    .search-close-switch{
        width: 4.7rem;
        height: 4.7rem;
        font-size: 2.3rem;
        line-height: 2.3rem;
    }

    .search-model #search-input{
        width: 45rem;
        height: 5.4rem;
        padding-bottom: .3rem;
        padding-left: .2rem;
        font-size: 3.4rem;
    }
}

@media (max-width: 578px){
    .offcanvas{
        width: 300px !important; 
    }

    .search-close-switch{
        width: 4.5rem;
        height: 4.5rem;
        font-size: 2rem;
        line-height: 2rem;
    }

    .search-model #search-input{
        width: 37rem;
        height: 5rem;
        padding-bottom: .2rem;
        padding-left: .1rem;
        font-size: 3rem;
    }
}

@media (max-width: 405px){
    .search-close-switch{
        width: 4.1rem;
        height: 4.1rem;
        font-size: 1.7rem;
        line-height: 1.7rem;
    }

    .search-model #search-input{
        width: 32rem;
        height: 4rem;
        font-size: 2.5rem;
    }
}


  
  
  
  
  
  
  
  
  
