*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: "Cabin", sans-serif;
}

:root{
    --night: #19191a;
    --space: #333333;
    --black: #000000;
    --vintage: #515052;
    --halloween: #DFA974;
    --shades: #999999;
    --white: #FFFFFF;
    --red: #e34c26;
    --yellow: #178600;
    --darkolive: #556b2f;
    --lightolive: #718d42;
}

a{
    color: var(--white);    
    text-decoration: none !important;
}

#mainNavbar{
    padding: 2rem .6rem;
}

.navbar-toggler{
    border: none !important;
}

.offcanvas{
    width: 350px !important; 
    transition: .7s !important;
}

.navbar-toggler:focus{
    box-shadow: var(--white) !important;
}

.navbar-toggler .bi-list{
    font-size: 3.2rem;
}

.navbar-nav .nav-link{
    color: var(--night) !important; 
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0 1.9rem !important;
    border-bottom: 3px solid var(--white);
}

.navbar-nav .nav-item:first-child .nav-link{
    border-bottom: 3px solid var(--halloween);
}

.navbar-nav .nav-link:hover{
    border-bottom: 3px solid var(--halloween);
}

.navbar-nav .nav-item:last-child .nav-link{
    border-bottom: 3px solid var(--white) !important;
}

.navbar-nav .bi-search{
    cursor: pointer;
}

.modal{
    background-color: var(--black);
}

.modal .modal-dialog{
    margin-top: 4rem;
}

.modal .modal-content{
    background-color: transparent;
}

.modal .modal-header{
    margin: 0 auto;
    border: 0;
}

.modal button{
    border: 0;
    background-color: transparent;
    background-color: var(--space);
    border-radius: 50%;
}

.modal .fa-xmark{
    font-size: 2.5rem;
    color: var(--white);
    padding: 1.5rem 1.7rem;
}

.modal .modal-body{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}

.modal .modal-body input{
    width: 60%;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--space);
    color: var(--shades);  
    margin: auto 0; 
    font-size: 3.9rem;
    padding-bottom: .5rem;
    padding-left: .2rem;
    font-weight: 500;
}

.modal .modal-body input::placeholder{
    font-size: 3.9rem;
}

.modal .modal-body input:focus-visible{
    outline: none;
}


@media (max-width: 991.9px) {
    .offcanvas-header{
        justify-content: flex-end !important;
    }

    .offcanvas-header .btn-close{
        font-size: 1.5rem !important;
        display: inline-block;
        padding: 1.8rem 5rem 1.8rem 0 !important;
        box-shadow: none !important;
        opacity: .75;
    }

    .navbar-nav .nav-item {
        flex: 1;
        width: 80%;
        border-bottom: 1px solid #ddd;
        padding: 10px 0; 
    }

    .navbar-nav .nav-item:last-child{
        border-bottom: none;
    }
    
    .navbar-nav .nav-item:last-child{
        order: -1;
        display: flex;
        justify-content: center;
    }

    .navbar-nav .bi-search{
        font-size: 1.8rem !important;
    }

    .navbar-nav .nav-link{
        font-size: 1.4rem;
        font-weight: 500;
        margin: 0rem .8rem !important;
        transition: all .3s;
        border-bottom: 3px solid var(--white) !important;
    }

    .navbar-nav .nav-link:hover{
        color: var(--halloween) !important;
    }

    .navbar-nav .nav-item:last-child .nav-link:hover{
        color: var(--night) !important;
    }

}

@media (max-width: 578px){
    .offcanvas{
        width: 300px !important; 
        transition: .7s !important;
    }
}


